.can-drop {
	outline: 5px solid orange;
	z-index: 999;
}
.drop-active {
	opacity: .6;
	z-index: 0;
}
.drop-target {
    outline: 5px solid yellowgreen;
}

.selected_widget {
	outline: 5px solid blue !important;
}
.cutted_widget {
	opacity: .3;
}