.can-drop {
	outline: 5px solid orange;
	z-index: 999;
}
.drop-active {
	opacity: .6;
	z-index: 0;
}
.drop-target {
    outline: 5px solid yellowgreen;
	transition: 0.2s;
	/* transition-property: scale; */
	/* transform: scale(1.1); */
}